.Dashboard {
  width: 100vw;
  height: 95vh;
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  overflow: hidden;
}
.account {
  width: 250px;
  min-height: 300px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.accountName {
  color: grey;
  margin: 2px;
  align-self: flex-start;
  margin-left: 15px;
}
h2 {
  align-self: flex-start;
  margin: 5px 0;
  color: black;
}
.new {
  margin-top: 25px;
  color: navy;
}
.new > input {
  padding: 5px;
  border-radius: 2px;
  border: solid 1px grey;
  margin: 5px;
}
.new > input::placeholder {
  color: grey;
}
.createAccount {
  background: navy;
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 2px;
  padding: 5px;
}
.transaction {
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.payment {
  width: 470px;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.sendMoney {
  background: red;
  width: 60px;
  height: 30px;
  max-width: 60px;
  max-height: 30px;
  border: none;
  border-radius: 2px;
  color: white;
  font-weight: 600;
  font-size: 15px;
  margin-right: 8px;
}
.sendMoney:hover {
  font-weight: 800;
  font-size: 17px;
}
.dollarAmount {
  padding: 5px;
  padding-left: 25px;
  font-size: 15px;
  border-radius: 3px;
  border: none;
  border: solid 1.3px grey;
  outline: none;
}
.dollarAmount:focus {
  border: solid 1.3px green;
}
.money {
  position: relative;
  transform: translate(-50%, -50%);
  top: 15px;
  left: 35px;
  height: 20px;
}
.transactionHistory {
  width: 500px;
  min-height: 80vh;
  border-radius: 4px;
  background: rgb(42, 197, 217);
  overflow: scroll;
}
.completedTrans {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.completedTrans > p {
  font-size: 15px;
  margin-right: 10px;
}
.id {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: white;
}
.history {
  margin-bottom: 10px;
}
.title {
  color: white;
  font-weight: 600;
  font-size: 20px;
  margin: 20px 0;
}
.friendsContainer {
  overflow: scroll;
  height: 500px;
}
.friends {
  width: 200px;
  height: 500px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.pushH1 {
  min-height: 400px;
}
.friendsBox {
  margin: 10px 0px 10px 40px;
  height: 16px;
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.friendsBox > p {
  color: rgb(71, 71, 71);
  cursor: pointer;
}
.friendsBox > p:hover {
  color: rgb(42, 197, 217);
}
.friendIcon {
  position: relative;
  top: -16px;
  left: -20px;
  height: 15px;
}
.select {
  width: 130px;
  border: none;
  background: white;
  border-bottom: solid 1px grey;
  outline: none;
}
.select:hover {
  border-bottom: solid 1px rgb(42, 197, 217);
}
select {
  width: 100%;
  border: none;
  background: white;
  outline: none;
}
h1 {
  font-size: 18px;
  margin-left: 10px;
  margin-bottom: 15px;
  color: white;
  font-weight: 700;
  -webkit-text-stroke: 1px purple;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.creditCards {
  margin: 1px 3px 0 0;
}
